/* General */
/*
Color scheme:
Black: #262626
White: #F7F7F7
Red: #578B87
Blue: #93C9E8
Green: #C6CED1
Grey: #B6DBBE
*/



/* State Graphic */
#state-boxes {
  width: 650px;
  border: 1px solid #262626;
}

.states {
  width: 10%;
  border: 1px solid #262626;
}
