/*****************************   General   *****************************/
/*
Color scheme:
Black: #262626
White: #F7F7F7
Red: #F58B87
Blue: #93C9E8
Green: #B6DBBE
Grey: #C6CED1
*/

body {
  background-color: #f7f7f7;
  color: #262626;
  font-family: 'Fira Sans', sans-serif;
}

.container {
  margin-top: 25px;
}

h1 {
  text-align: center;
  color: #262626;
  font-family: 'Domine', serif;
  font-weight: 700;
}

#header {
  margin-bottom: 40px;
}

#instructions {
  margin-top: 15px;
}

.red {
  background-color: #578B87;
}

.green {
  background-color: #C6CED1;
}

.blue {
  background-color: #93C9E8;
}

.grey {
  background-color: #B6DBBE;
}

/**************************** State Graphic ****************************/
.states {
  width: 9.5%;
  float: left;
  margin: 1px;
  height: 55px;
  opacity: 0.75;
  transition: opacity 0.4s ease-in-out;
}

.states:hover {
  opacity: 1;
}

.stateh3 {
  margin-top: 0;
}

#seatButtonsDiv {
  padding: 0 15px;
}

.senatorBox {
  border: solid 1px black;
  margin-left: 2px;
  width: 48% !important;
}

@media (max-width: 400px) {
  .senatorBox {
    width: 48% !important;
  }
}

#panel {
    padding: 50px;
    display: none;
}

/* Side Bar */
.currentSenatorImg {
  float: right;
  height: 120px;
  width: auto;
  padding: 0 0 5px 5px;
}

.stateBoxInitials {
  text-align: center;
  padding-top: 25%;
  opacity: 1 !important;
  font-size: 18px;
  color: black;
}

.reelect {
  font-weight: 500;
}
