<!DOCTYPE html>
<html lang="en"  ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Starter Temp</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/states.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="BaseController as base">
    <div class="container" ng-controller="StatesController as statesCtrl">
      <!-- <p>{{ base.message }}</p> -->

      <div id="header">
        <h1>2016 Senate Race</h1>
        <p id="instructions">
          Instructions on how to use application. You can only search by candidate and not by state.
        </p>
        <div class="row">
          <div class="col-md-3">
            <!-- <button ng-click="searchTerm = {$: true}">See contested/Not contested</button> --> <!-- Works to show only contested --> 
            <!-- <button ng-click="myFilter = {statesCtrl.stateSeats: }">See contested/Not contested</button> -->
          </div>
          <div class="col-md-3">
            <!-- <button ng-click="base.filter('party')">See democrats/republicans</button> -->
          </div>
          <div class="col-md-3">
            <!-- <button ng-click="base.filter('all')">Show All</button> -->
          </div>
          <div class="col-md-3">
            <input type="text" ng-model="searchTerm" class="form-control" style="float: right" placeholder="Search" />
          </div>
        </div>
      </div>

      <div id="body">
        <div class="row">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <div id="state-boxes">
              <div ng-repeat="state in statesCtrl.stateSeats"  ng-class="stateStyle($index)">
                <div class="states" ng-repeat="seats in state.senator_seats | filter:searchTerm" ng-click="statesCtrl.currentSeat(state.state, seats.incumbent_last)">
                  <p>
                    {{state.state_abbr}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div id="selectedIncumDiv"></div>
            <div id="showCandidates" ng-show="statesCtrl.showCandidates">
              <h5>Candidates: </h5>
              <div id="selectedCandidDiv"></div>
            </div>
          </div>
        </div>
      </div>

    </div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
